*{
    margin: 0;
    padding: 0;
}
body {
    background-size: cover;
    background-position:center;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav {
    height: 80px;
    background-color: rgb(255, 255, 255);
    display: flex;
    
}
nav ul {
    list-style: none; /*da nema onih krugova*/
    display: flex;  /*slova idu na desno*/
   
}
nav ul li {
    margin: 0 5px;
}
nav ul li a {
    height: 100%;
    padding: 0 30px; /*da se napravi razmak izmedju teksta*/
    text-decoration: none; /*da nema podvucenog*/
    display: flex;
    align-items: center;/*da se stavi na centar ovog belog gore umesto na vrh*/
    color: green;
}
nav a:hover {
    background-color: whitesmoke;
}


@keyframes jednomRotiraj {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.nav-icon {
    width: 80px;
    height: auto;
}
.nav-icon:hover {
    animation: jednomRotiraj 1s ease forwards;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999; /*msm ne trba*/
    background-color: rgba(255, 255, 255, 0.2); /*0.2 transparent*/
    backdrop-filter: blur(10px);

    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column; /*u koloni da budu*/
    align-items: flex-start; /*da ide tekst na levo od boxa belog*/
    justify-content: flex-start; /*da bude tekst gore*/
}

.sidebar li {
    width: 100%; /*da zauzima ceo red*/
}
.sidebar a {
    width: 100%; /*za svaki slucaj*/
}
@media (max-width: 800px) {
    nav ul {
    }
}