*{
    margin: 0;
    padding: 0;
}
body {
    background-size: cover;
    background-position:center;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav {
    height: 80px;
    background-color: rgb(219, 239, 182);
    display: flex;
    
}
nav ul {
    list-style: none; /*da nema onih krugova*/
    display: flex;  /*slova idu na desno*/
   
}
nav ul li {
    margin: 0 5px;
}
nav ul li a {
    height: 100%;
    padding: 0 30px; /*da se napravi razmak izmedju teksta*/
    text-decoration: none; /*da nema podvucenog*/
    display: flex;
    align-items: center;/*da se stavi na centar ovog belog gore umesto na vrh*/
    color: green;
}
nav a:hover {
    background-color: whitesmoke;
}


@keyframes jednomRotiraj {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.nav-icon {
    width: 80px;
    height: auto;
}
.nav-icon:hover {
    animation: jednomRotiraj 1s ease forwards;
}



@media (max-width: 800px) {
    body {
        font-size: 13px; /* Slightly smaller font size on mobile */
    }
}